<app-entete></app-entete>
<div class="container-fluid">
    <div class="row" style="margin: 10px;">
        <app-menu-list class="col-5"></app-menu-list>
        <app-menu-detail class="col-6" style="margin: 20px;"></app-menu-detail>
    </div>

</div>