<div class="row">
  <div class="list-group col-12" style="padding-right: 0px; margin-bottom: 10px">
    <a *ngFor="let menu of menus" href="#" class="list-group-item list-group-item-action">{{ menu.name }}</a>
  </div>
</div>
<div class="row">
  <button class="btn btn-success col-12">Ajouter un menu</button>
</div>
